a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

.loadMore {
    cursor: pointer;
    background-color: white;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 7px 25px;
    font-size: 13px;
    margin-top: -20px;
  }